<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Assessments</h1>
<br>

<!-- In Progress Assessments -->
<h3><b>In Progress</b></h3>
<br>
{% if in_progress_assessments %}
    <div class="row">
        {% for assessment in in_progress_assessments %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Module:</b> {{ assessment.module_code }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Assessment:</b> {{ assessment.title }}</h6>
                        <p class="card-text"><b>Due:</b> {{ assessment.deadline }}</p>
                        <p class="card-text">{{ assessment.description }}</p>
                        <div class="btn-group" role="group" aria-label="Button group with spacing">
                            <a href="{{ url_for('edit', id=assessment.id) }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ url_for('toggle_complete', id=assessment.id) }}" class="btn btn-warning btn-sm text-nowrap">Mark as COMPLETED</a>
                            <a href="{{ url_for('delete_assessment', id=assessment.id) }}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<p>No assessments in progress</p>
{% endif %}
<br>

<!-- Completed Assessments -->
<h3><b>Completed</b></h3>
<br>
{% if completed_assessments %}
    <div class="row">
        {% for assessment in completed_assessments %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Module:</b> {{ assessment.module_code }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Assessment:</b> {{ assessment.title }}</h6>
                        <p class="card-text"><b>Due:</b> {{ assessment.deadline }}</p>
                        <p class="card-text">{{ assessment.description }}</p>
                        <div class="btn-group" role="group" aria-label="Button group with spacing">
                            <a href="{{ url_for('edit', id=assessment.id) }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ url_for('toggle_complete', id=assessment.id) }}" class="btn btn-warning btn-sm text-nowrap">Mark as INCOMPLETE</a>
                            <a href="{{ url_for('delete_assessment', id=assessment.id) }}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<p>No assessments completed</p>
{% endif %}
<br>
<a href="{{ url_for('create') }}" class="btn btn-secondary mt-4">Create Assessment</a>
{% endblock %}